<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
      
  <xi:include href="master.html" />

  <head>
    <title>Trivia</title>
  </head>

  <body>
    <form action="${tg.url('/submit_answer')}" method="post">
    
        <h3>${Markup(trivia['question'])}</h3>
    <div>
        <input type="radio" name="options" id="option1" value="1" />
        <label for="option1">A) ${Markup(trivia['option_1'])} </label>
    </div>
    <div>
        <input type="radio" name="options" id="option2" value="2" />
        <label for="option2">B) ${Markup(trivia['option_2'])}</label>
    </div>
    <div>
        <input type="radio" name="options" id="option3" value="3" />
        <label for="option3">C) ${Markup(trivia['option_3'])}</label>
    </div>
    <div>
        <input type="radio" name="options" id="option4" value="4" />
        <label for="option4">D) ${Markup(trivia['option_4'])}</label>
    </div>
    <input type="hidden" name="question_id" value="${trivia['id']}" />
    <input type="submit" value="Submit" id="submit" />
    </form>
    
    <div> Score: 
        ${score}
    </div>
  </body>
</html>
